DOMAIN_NAME=mthetcha.42.fr
MYSQL_USER=mthetcha

DB_NAME=inception
DB_PASSWORD=inception42
DB_USER=mthetcha

WP_TITLE = mthetcha_wp
WP_ADMIN_USER = mthetcha_adm
WP_ADMIN_PASSWORD = mthetcha42
WP_ADMIN_EMAIL = mthetcha@student.42lyon.fr
WP_USER = mthetcha
WP_USER_PASSWORD=mthetcha42
WP_USER_EMAIL= mthetcha@student.42lyon.fr
